.Renovar {
    color: red;
}
.bien {
    color: green;}
.azul {
    color:blue;
}
.perifericos {
    color: grey;
}
.componentes {
    color: violet;
}
p {
    color: gold;
}
h1 {
    color: purple;
}