@font-face {
    font-family: Inter;
    src: url(fonts/Inter/static/Inter_18pt-SemiBold.ttf) format(truetype);
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: url(fonts/Inter/static/Inter_18pt-ExtraBold.ttf) format(truetype);
    font-weight: 800;
}
@font-face {
    font-family: Inter;
    src: url(fonts/Inter/static/Inter_18pt-Light.ttf) format(truetype);
    font-weight: 200;
}